.forma input {
  border: none;
  border-bottom: 2px solid black !important;
}
/* 
input:invalid {
  border: 2px solid red;
}*/

input:valid {
  border: 2px solid green
} 

input:focus:invalid {
  box-shadow: none;
  border: 2px solid rgba(255, 0, 0, 0.406);
}

